//sizes
$main-witdh : 1000px;
$form-witdh : 500px;

$marge : 15px;

$height-nav : 50px;

//colors
$black : #000;
$blue-whale: #062743;
$moss-green: #ACDEAA;
$summer-green: #698d83;
$white : #FFF;
$wild-sand: #F6F6F6;
$red : #FF0000;
$alto: #d4d1d1;

//z-indexs
$z-nav : 9;